html{
  background-color:  #282C35;
  box-sizing:border-box;
  color:white;
}
/* styling h1 */
h1{
  color: #03045E;
  font-size:20px;
  text-align:center;
}
img{
  object-fit: contain;
  height: 2%;
  margin-right:auto;
  margin-left:uto;
}
p, strong{
  font-family: 'Redressed', cursive;
  font-size:20px;
  text-align:center;
}